export(
    indexWalkCode,
    mkIsCallTo)

export(
    getParent,
    getAncestors,
    getSiblings
)

export(    
    getByIndex,
    insertByIndex
)
export(replaceSymbol)


export(isSymbol, isCallTo, isAssignTo)
export(isFunction, isFunctionAssign)


export(hasSymbol, getSymbol,
       getAncestorFuns)

export(getEnclosingFunction)
